.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #eee;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form-container {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 2rem;
    width: 30rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  
  .form-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0; /* Add this line to remove default margin */
    margin-bottom: 2rem;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .form-control {
    height: 3.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  
  #submitBtn {
    width: 100%;
    height: 3.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  
  #submitBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .alert {
    margin-top: 2rem;
  }

  /* home.css */
  .home-background {
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AFGJ81oHHEnHsaSuBUTducEyoveiGrbPxZRECcr2weogl9vl-W0X-ekLNizAIZpyQhGxEmrehBLjaUGRb_B1DVwWZr51Ah8=s1600");
    background-size:auto;
    background-position: bottom; /* Align the background image to the bottom */
    display: center;
    height: 800px;
  }

  .banner {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
