* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.App {
  width: 100vw;
  height: 100vh;
  
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  width: 300px;
  height: 100%;
  background-color: gray;
  
} 

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
  width: 100%;
  height: 50px;
  
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;

}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;

}

.row #title {
  flex: 70%;

}